.grid-container{
  display: grid;
  row-gap: 0px;
  width: 100%;
}
.glow{
  font-size: 40px;
  font-family: fantasy;
   color: #fff;
   text-align: center;
   padding-top: 10px;
   animation: glow 1s ease-in-out infinite alternate;
   background-color: #FF6347;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9ACD32, 0 0 40px #9ACD32, 0 0 50px #9ACD32, 0 0 60px #9ACD32, 0 0 70px #9ACD32;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #ff4da6, 0 0 70px #00FF00, 0 0 80px #00FF00;
  }
}

.two{
  color:#006400;
  font-family: avenir light;
  font-size:24px;
  text-align: center;
  background-color: #FFc14d;
  padding: 10px;
}
.three{
  color: #006400;
  font-family: Avenir light;
  font-size: 16px;
  text-align:center;
  background-color: #ffdb99;
  padding: 6px;
}

body{
  background: url(dusk.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bat{
  margin: 90px 90px;
  padding:30px;
  background: #ffdb99;
  display: flex;
}
img{
  height:200px;
  width:300px;
  border:4px solid pink;
  margin-right: 10px;
}

h3{
  color: #800000;
  background-color:none;
  font-family: avenir;
}
span{
  color: #993300;
  background-color: #ffdb99;
  text-shadow: 3px 3px pink;
}

.answer{
  display: none;
  background-color: pink;
  color: #993300;
  background-clip: content-box;
  font-family:avenir light;
}
span:hover + .answer{
  display: block;
}
